@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@800&family=League+Gothic&display=swap');

*{
    padding: 0px;
    margin: 10px;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100px;
    padding-left: 750px;
    padding-top: 15px;
}
input{
    width: 250px;
    height: 40px;
    font-family: 'Baloo Bhai 2', cursive;
}

button{
    width: 90px;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: antiquewhite;
    font-family: 'Baloo Bhai 2', cursive;
}

main{
    width: 100%;
    min-height: 720px;
    height: auto;
    background: hsla(298, 68%, 90%, 1);

background: linear-gradient(360deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);

background: -moz-linear-gradient(360deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);

background: -webkit-linear-gradient(360deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#f6d5f7", endColorstr="#fbe9d7", GradientType=1 );
}
/* footer{
    width: 100%;
    height: 100px;
    background-color: rgb(104, 100, 100);
    padding-left: 750px;} */


img{
    width: 184px;
    height: 160px;
}

#imagem-container{
    display: flex;
    flex-wrap: wrap;
    
  
}